$pretty--color-default: #000 !default;
$pretty--color-primary: #d4af37 !default;
$pretty--color-info: #5bc0de !default;
$pretty--color-success: #5cb85c !default;
$pretty--color-warning: #f0ad4e !default;
$pretty--color-danger: #d9534f !default;
$pretty--color-dark: #5a656b !default;

@import '~pretty-checkbox/src/pretty-checkbox.scss';
